<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="db.config" connectionString="Data Source=HUY\SQL2012;Initial Catalog=OCRDemo;MultipleActiveResultSets=True" 
                          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="db.username" value="sa" />
    <add key="db.password" value="sa123" />

    <!--for now we put it in the class SmartOcrSdkExports.cs -->
    <!--
    <add key="ocrsdk.intsallpath" value="Redistributables\\" />
    <add key="ocrsdk.username" value="<OCR User>" />
    <add key="ocrsdk.userkey" value="<OCR Key>" />
    -->
  </appSettings>


  <!-- log4net -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>
    <appender name="appExceptionAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs\OCRCore"/>
      <param name="AppendToFile" value="true"/>
      <RollingStyle value="Date"/>
      <param name="DatePattern" value="'_'yyyyMMdd'.log'"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL -->
      <level value="ALL"/>
      <appender-ref ref="appExceptionAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <!-- end log4net -->
  
</configuration>